@charset "UTF-8";
/* VARIABLES-:root*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&display=swap");
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";
.cols-5 {
  width: 5%; }

.cols-10 {
  width: 10%; }

.cols-15 {
  width: 15%; }

.cols-20 {
  width: 20%; }

.cols-25 {
  width: 25%; }

.cols-30 {
  width: 30%; }

.cols-35 {
  width: 35%; }

.cols-40 {
  width: 40%; }

.cols-45 {
  width: 45%; }

.cols-50 {
  width: 50%; }

.cols-55 {
  width: 55%; }

.cols-60 {
  width: 60%; }

.cols-65 {
  width: 65%; }

.cols-70 {
  width: 70%; }

.cols-75 {
  width: 75%; }

.cols-80 {
  width: 80%; }

.cols-85 {
  width: 85%; }

.cols-90 {
  width: 90%; }

.cols-95 {
  width: 95%; }

.cols-100 {
  width: 100%; }

.cols-105 {
  width: 105%; }

.cols-110 {
  width: 110%; }

.cols-115 {
  width: 115%; }

.cols-120 {
  width: 120%; }

.cols-125 {
  width: 125%; }

.cols-130 {
  width: 130%; }

.cols-135 {
  width: 135%; }

.cols-140 {
  width: 140%; }

.cols-145 {
  width: 145%; }

.cols-150 {
  width: 150%; }

.for__text--p {
  color: #b325a0; }

.for2 {
  display: flex;
  flex-wrap: wrap; }

.color_grid {
  width: 100px;
  height: 100px; }

.color_grid:nth-child(1) {
  background-color: #b7039f; }

.color_grid:nth-child(2) {
  background-color: #d004b4; }

.color_grid:nth-child(3) {
  background-color: #e904ca; }

.color_grid:nth-child(4) {
  background-color: #fa0dda; }

.color_grid:nth-child(5) {
  background-color: #fb26de; }

.color_grid:nth-child(6) {
  background-color: #fb3fe2; }

.color_grid:nth-child(7) {
  background-color: #fc58e6; }

.color_grid:nth-child(8) {
  background-color: #fc71e9; }

.color_grid:nth-child(9) {
  background-color: #fd8aed; }

.color_grid:nth-child(10) {
  background-color: #fda3f1; }

.color_grid:nth-child(11) {
  background-color: #febcf5; }

.color_grid:nth-child(12) {
  background-color: #fed5f9; }

.color_grid:nth-child(13) {
  background-color: #ffeefc; }

.color_grid:nth-child(14) {
  background-color: white; }

@media screen and (min-width: 640px) {
  .cols-m-5 {
    width: 5%; }
  .cols-m-10 {
    width: 10%; }
  .cols-m-15 {
    width: 15%; }
  .cols-m-20 {
    width: 20%; }
  .cols-m-25 {
    width: 25%; }
  .cols-m-30 {
    width: 30%; }
  .cols-m-35 {
    width: 35%; }
  .cols-m-40 {
    width: 40%; }
  .cols-m-45 {
    width: 45%; }
  .cols-m-50 {
    width: 50%; }
  .cols-m-55 {
    width: 55%; }
  .cols-m-60 {
    width: 60%; }
  .cols-m-65 {
    width: 65%; }
  .cols-m-70 {
    width: 70%; }
  .cols-m-75 {
    width: 75%; }
  .cols-m-80 {
    width: 80%; }
  .cols-m-85 {
    width: 85%; }
  .cols-m-90 {
    width: 90%; }
  .cols-m-95 {
    width: 95%; }
  .cols-m-100 {
    width: 100%; }
  .cols-m-105 {
    width: 105%; }
  .cols-m-110 {
    width: 110%; }
  .cols-m-115 {
    width: 115%; }
  .cols-m-120 {
    width: 120%; }
  .cols-m-125 {
    width: 125%; }
  .cols-m-130 {
    width: 130%; }
  .cols-m-135 {
    width: 135%; }
  .cols-m-140 {
    width: 140%; }
  .cols-m-145 {
    width: 145%; }
  .cols-m-150 {
    width: 150%; } }

@media screen and (min-width: 1024px) {
  .cols-l-5 {
    width: 5%; }
  .cols-l-10 {
    width: 10%; }
  .cols-l-15 {
    width: 15%; }
  .cols-l-20 {
    width: 20%; }
  .cols-l-25 {
    width: 25%; }
  .cols-l-30 {
    width: 30%; }
  .cols-l-35 {
    width: 35%; }
  .cols-l-40 {
    width: 40%; }
  .cols-l-45 {
    width: 45%; }
  .cols-l-50 {
    width: 50%; }
  .cols-l-55 {
    width: 55%; }
  .cols-l-60 {
    width: 60%; }
  .cols-l-65 {
    width: 65%; }
  .cols-l-70 {
    width: 70%; }
  .cols-l-75 {
    width: 75%; }
  .cols-l-80 {
    width: 80%; }
  .cols-l-85 {
    width: 85%; }
  .cols-l-90 {
    width: 90%; }
  .cols-l-95 {
    width: 95%; }
  .cols-l-100 {
    width: 100%; }
  .cols-l-105 {
    width: 105%; }
  .cols-l-110 {
    width: 110%; }
  .cols-l-115 {
    width: 115%; }
  .cols-l-120 {
    width: 120%; }
  .cols-l-125 {
    width: 125%; }
  .cols-l-130 {
    width: 130%; }
  .cols-l-135 {
    width: 135%; }
  .cols-l-140 {
    width: 140%; }
  .cols-l-145 {
    width: 145%; }
  .cols-l-150 {
    width: 150%; } }

/* VARIABLES-:root*/
/* @mixin button {
    display: inline;
    margin: 0 .5em;
    padding: .47em 1.5em;
    border-radius: .2em;
    font-weight: 800;
    border: 1px solid $color-claro;
    background: $color-claro;
    a {
        color: $color-oscuro;
    }
    &:hover {
        background: $color-claro-hover;
        border: 1px solid $color-claro-hover;
        a {
            color: $color-oscuro;
        }
    }
}

button {
    @include button;
} */
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none; }

html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth; }

body {
  /* position: relative; */
  min-height: 100vh;
  background: radial-gradient(circle, #e08dd5 20%, #c95fbb 80%);
  padding: 30px;
  transition: .3s ease all; }
  body.dark {
    background: #111111; }

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #eec6e9;
  margin: 0.5em; }

h2 {
  font-size: 1.7rem; }

h3 {
  font-size: 1rem; }

p, a, li {
  font-size: 1.3rem; }

/*-------------------------Switch modo oscuro--------------------------*/
.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none; }
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .switch.active {
    background: #b325a0;
    color: #000; }
    .switch.active::after {
      right: 0;
      left: unset; }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff; }

.fa-sun, .fa-moon {
  color: #eec6e9; }

/*-------------------------Botón de whatsapp--------------------------*/
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }
  .whatsapp:hover {
    background-color: #06c24b;
    color: #fff; }

.whatsapp-icon {
  margin-top: 13px; }

/*--------------------------Header-------------------------------------*/
header {
  background: #eec6e9;
  padding: 10px 0; }
  body.dark header {
    background: #222222;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16); }

/*--------------------------Header-nav----------------------------------*/
#nav {
  z-index: 5;
  background-color: #eec6e9 !important; }
  body.dark #nav {
    background: #222222 !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16) !important; }

.nav-link {
  color: #b325a0 !important; }

#icono {
  color: black !important; }

.dropdown-item {
  color: #b325a0 !important;
  background-color: #eec6e9; }
  body.dark .dropdown-item {
    color: #b325a0;
    background: #222222 !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16) !important; }

body.dark .dropdown-divider {
  background: #222222 !important;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16) !important; }

.nav-item:hover {
  border-radius: .2em;
  transform: scale(0.95);
  text-decoration: underline; }

.modo_nocturno {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.header__nav--navbar {
  position: sticky;
  top: 0; }

body.dark .header__nav--button {
  background: #b325a0; }

body.dark .user, body.dark .shop {
  color: #b325a0 !important; }

/*--------------------------Main-carousel----------------------------------*/
.slide {
  margin-top: 10px; }

.slide img {
  height: calc(120vh - 208px); }
  @media screen and (max-width: 768px) {
    .slide img {
      width: 200px;
      height: 200px; } }

.slide__title {
  font-family: "Nunito", sans-serif !important;
  font-size: 3.5rem;
  font-weight: bold;
  color: #b325a0;
  text-transform: uppercase;
  margin-bottom: .5em; }

/*--------------------------MAIN-PRODUCTOS MÁS VENDIDOS----------------------------------*/
/*-------------------Main-Banner animado-------------*/
.blog-post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: #eec6e9;
  display: flex;
  align-items: center;
  border-radius: .8rem; }
  body.dark .blog-post {
    background: #222222; }

.blog-post__img {
  min-width: 30rem;
  max-width: 15rem;
  height: 20rem;
  transform: translateX(-8rem);
  position: relative; }

.blog-post__img img {
  width: 100%;
  height: 85% !important;
  object-fit: cover;
  display: block;
  border-radius: .8rem; }

.blog-post__img::before {
  content: '';
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(201, 95, 187, 0.8), rgba(224, 141, 213, 0.2));
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: .8rem; }

.blog-post__info {
  margin: -6rem; }

.blog-post__text {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7); }
  body.dark .blog-post__text {
    color: #FEFEFE; }

.blog-post__cta {
  display: inline-block;
  padding: 1rem 2rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  /* margin-left: 1rem; */
  background-image: linear-gradient(to right, #c95fbb 0%, #e08dd5 100%);
  border-radius: .8rem;
  text-decoration: none; }

.blog-post__title {
  font-size: 2rem;
  color: #b325a0;
  text-align: left; }

.blog-post__cta:hover {
  background-image: linear-gradient(to right, #e08dd5 0%, #c95fbb 100%);
  text-decoration: none !important;
  color: #b325a0 !important; }

.imagenes {
  width: 100%;
  box-shadow: 0px 0px 15px black;
  background-size: 100% 100%;
  margin-left: 20px;
  animation-name: imagenes;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* animation: imagenes 10s infinite; */
  /*se resumen en una sola linea*/
  animation-direction: alternate; }

@keyframes imagenes {
  /*----paradas que va a tener la animación-----*/
  0%, 30% {
    background-image: url(../img/ramo2-min.jpg);
    opacity: 1; }
  31%, 34% {
    opacity: 0.1; }
  35%, 65% {
    background-image: url(../img/conejos-min.jpg);
    opacity: 1; }
  66%, 69% {
    opacity: 0.1; }
  70%, 100% {
    opacity: 1;
    background-image: url(../img/foto_principal-min.jpg); } }

/*-------------------------------------------------------------------------------PRODUCTS----------------------------------------------------------------------*/
/*Galería-*/
.productos {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin-bottom: 50px !important; }

.products h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #eec6e9;
  margin: 0.5em; }

.contenedor_productos {
  height: 400px;
  width: 400px;
  margin-right: auto;
  padding-bottom: 150px;
  -webkit-perspective: 700; }

.carta {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px black;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
  margin-bottom: 25px; }

.carta:hover {
  transform: rotateY(180deg); }

.lado {
  width: 110%;
  height: 110%;
  backface-visibility: hidden;
  position: absolute; }

.frente {
  background: #eec6e9; }

.atras {
  background: #eec6e9;
  transform: rotateY(180deg); }

.frente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  list-style-type: none; }

.caracteristicas {
  font-family: "Nunito", sans-serif !important;
  text-align: center;
  padding-top: 50px; }

.tit {
  text-align: center;
  font-size: 1.5rem !important;
  color: #eec6e9; }

/*-------- Styles for all cards-------- */
.cards_product {
  background: #b325a0;
  border-radius: 20px; }
  body.dark .cards_product {
    background: #222222;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16); }

.container {
  margin-top: 110px !important; }

.card {
  border: none;
  outline: none;
  background-color: #eec6e9;
  box-shadow: 0px 0px 1px black;
  border-radius: 20px;
  transition: transform .3s; }
  body.dark .card {
    background: #111111;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16); }

.card:hover {
  transform: translateY(-15px);
  transition: transform .3s; }

body.dark .card h5, body.dark .titulo_cards, body.dark .cost span, body.dark .card-title {
  color: #b325a0; }

body.dark .info span {
  color: #eec6e9; }

body.dark .card-body {
  color: #eec6e9; }

.card-text {
  font-size: 1rem; }

.redondeado {
  border-radius: .5rem; }

.titulo_cards {
  text-align: left;
  font-size: 1.75rem;
  color: #eec6e9;
  margin: 0.5em; }

.text1 {
  font-size: 14px;
  color: #c95fbb; }

.info {
  line-height: 17px; }

.star {
  color: #fbc02d; }

/* card 1*/
.cost span {
  color: #b325a0;
  font-weight: bold;
  font-size: 20px; }

.ramos, .pack, .bombones, .figuras {
  background: #e08dd5; }

/* Universal styling again for all product card */
.ramos:hover, .pack:hover, .bombones:hover, .figuras:hover {
  opacity: .8; }

.cursor {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

/*---------------------------------------------------------------------FECHAS ESPECIALES------------------------------------------------------------------------*/
/*Galería con imágenes-GRIDS*/
.f_especiales {
  text-align: center; }

.f_especiales h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #eec6e9;
  margin: 0.5em; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  /*para dar el alto de las filas */
  padding: 0 0 15px 0;
  grid-gap: 10px;
  /*para dar el espaciado entre columnas*/ }
  @media screen and (min-width: 768px) {
    .gallery-container {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (min-width: 1024px) {
    .gallery-container {
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      margin: auto;
      /*para que esté centrado*/ } }

.gallery__item {
  position: relative; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*para que la imagen no se distorcione*/ }

.gallery__img:hover {
  border: 6px solid #eec6e9;
  cursor: pointer;
  background-color: #eec6e9; }

.gallery__title {
  position: absolute;
  bottom: 0;
  color: #eec6e9;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  margin: 0; }

.gallery__item:nth-child(4) {
  grid-column-start: span 2; }

.gallery__item:nth-child(5) {
  grid-row-start: span 2; }

.gallery__item:nth-child(9) {
  grid-column-start: span 2; }

/*-------MEDIA QUERIES----------------------------------*/
/*Tamaño de Tablet*/
@media (min-width: 768px) {
  .gallery__item:nth-child(3) {
    grid-column-start: span 2; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3; }
  .gallery__item:nth-child(9) {
    grid-column-start: span 3; }
  .gallery__title {
    font-size: 1rem; } }

@media (max-width: 768px) {
  .gallery__title {
    font-size: 0.9rem; }
  /*----------------------------------------------------------------------------------------------*/ }

/*Tamaño de Web*/
@media (min-width: 1024px) {
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3; } }

/*-----------------------------------------------------------------ABOUT US---------------------------------------------------------*/
.container1 {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: auto; }

.box {
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 20px;
  border: 3px solid #fff; }

.about__text {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 20px; }
  body.dark .about__text {
    color: #b325a0; }

.box img {
  width: 100%;
  height: 100%; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 162, 227, 0.5);
  display: flex;
  justify-content: center !important;
  align-items: center;
  color: #b325a0;
  transform: scale(0);
  transition: .3s ease; }

.box:hover .capa {
  transform: scale(1); }

.about {
  font-family: "Nunito", sans-serif !important; }
  .about h2 {
    color: #eec6e9;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold; }

nav {
  font-family: "Nunito", sans-serif !important; }

/*---------------------------------------------------------------------------CONTACT US-------------------------------------------------------------------*/
form {
  display: flex;
  justify-content: center; }

textarea, .nombre, .email {
  border: 3px solid #e275d4;
  width: 100%; }
  textarea:focus, .nombre:focus, .email:focus {
    outline: 0;
    border-color: 3px solid #b325a0;
    background-color: #eec6e9; }

.proceso {
  background: #f3a1e8;
  border: 3px solid black; }

form .fo {
  background: #b325a0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: .8rem; }
  body.dark form .fo {
    background: #222222;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16); }

form label {
  margin: 10px; }

legend {
  color: #eec6e9;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold; }

body.dark .form-date, body.dark .form-group {
  color: #eec6e9; }

body.dark #age {
  color: #111111; }

body.dark p .iconify {
  color: #b325a0; }

/*------------------------------------------------------------------------------------------------------*/
/*FOOTER*/
footer {
  position: relative; }

.foot {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #eec6e9; }
  body.dark .foot {
    background: #222222 !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16) !important; }

footer .sm, .store, .contact {
  text-align: center; }
  body.dark footer .sm, body.dark .store, body.dark .contact {
    color: #eec6e9 !important; }

body.dark #icono {
  color: #eec6e9 !important; }

footer .sm__icon {
  color: inherit;
  text-align: center;
  padding: 20px;
  background-color: #e275d4;
  border-radius: 50%;
  display: inline-block; }
  body.dark footer .sm__icon {
    color: #eec6e9 !important;
    background-color: #b325a0; }

footer .sm__link {
  list-style: none;
  margin: 0 5px;
  padding: 0; }

footer .store a {
  font-size: 0.9rem;
  text-decoration: underline; }

footer .contact a {
  font-size: 0.9rem;
  text-decoration: underline; }

/* copyright */
p.text-muted {
  text-align: center;
  font-size: 0.8rem;
  color: #111111 !important; }
  body.dark p.text-muted {
    color: #eec6e9 !important; }

/*---------------------------------------------------------------------------medias queries---------------------------------------------------------------------------*/
@media screen and (max-width: 992px) {
  .header__logo {
    max-width: 50px;
    height: auto; }
  /* .img-responsive{
        width: 250px;
        margin-left: 330px;
    } */
  .dropdown-menu {
    min-width: 15rem; }
  .nav-item {
    padding: 8px 0px;
    margin: 0px 16px 0px 0px; }
  .nav-item:hover {
    background: #eec6e9;
    border: 1px solid #eca2e3;
    color: #b325a0;
    border-radius: .2em;
    transform: scale(0.95); }
    body.dark .nav-item:hover {
      background: #222222 !important;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16) !important; }
  .nav-link {
    margin-left: 0px 16px 0px 0px !important; } }

@media screen and (max-width: 1068px) {
  .img-responsive {
    width: 250px;
    margin-left: 330px; }
  .blog-post {
    max-width: 80rem; }
  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem; }
  .slide__title {
    font-size: 1.5rem; }
  .blog-post__cta {
    padding: 1rem 2rem;
    letter-spacing: .5px;
    font-size: 1rem; }
  .about__text--p1 {
    /* background-color: red; */
    margin-top: 70px; }
  .about__text--p2, .about__text--p3 {
    visibility: hidden !important; }
  .box {
    width: 30rem;
    height: 20rem; } }

@media screen and (max-width: 868px) {
  .img-responsive {
    width: 250px;
    margin-left: 250px; }
  .blog-post {
    max-width: 70rem; }
  .slide__title {
    font-size: 1.2rem; }
  .blog-post__title {
    font-size: 1.4rem; }
  .blog-post__text {
    font-size: 1rem; }
  .blog-post__info {
    margin: -6rem; }
  .blog-post__img {
    min-width: 20rem;
    max-width: 15rem;
    height: 20rem; }
  .blog-post__cta {
    padding: 1rem 2rem;
    letter-spacing: .5px;
    font-size: 1rem; }
  .container1 {
    flex-direction: column; }
  /* .about__text--p1 {
        background-color: green;
    } */
  .about__text--p2 .about__text--p3 {
    visibility: hidden; } }

@media screen and (max-width: 768px) {
  .img-responsive {
    width: 200px;
    margin-left: 16px; }
  .blog-post {
    padding: 1.2rem;
    flex-direction: column; }
  .blog-post__img {
    min-width: 79%;
    max-width: 100%;
    margin-top: 61px;
    margin-bottom: -150px;
    padding-top: 50px;
    transform: translate(0, -8rem); }
  .slide__title {
    font-size: 1rem; }
  .blog-post__title {
    font-size: 1.4rem; }
  .blog-post__cta {
    padding: .8rem 1rem;
    letter-spacing: .5px;
    font-size: 1rem;
    color: #fff; }
  .blog-post__info {
    margin: 35px -1rem; }
  .body {
    padding: 0; }
  .imagenes {
    margin-top: 20px;
    margin-left: -40px !important;
    height: 28vh !important;
    width: 120% !important; }
  .box {
    width: 310px; }
  .box img {
    width: 100% !important;
    height: 140% !important; }
  .about__text {
    /* overflow: auto; */
    margin-left: 115px;
    width: 360px !important;
    height: 400px !important; }
  .about__text--p1 {
    width: 80%;
    overflow: auto;
    margin-left: 1rem;
    /* background-color: lightskyblue; */ }
  .about__text--p2 {
    visibility: hidden; }
  .about__text--p3 {
    visibility: hidden;
    font-size: 0.8rem; }
  .whatsapp {
    width: 50px;
    height: 50px;
    font-size: 27px; }
  .contenedor_productos {
    height: 320px;
    width: 250px; }
  .container {
    margin-top: 0 !important; }
  .products h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #eec6e9;
    margin: 0.5em; }
  .tit {
    font-size: 1.25rem !important; }
  .lado {
    width: 100%;
    height: 100%; }
  .caracteristicas {
    padding-top: 25px; }
  .caracteristicas h4 {
    font-size: 1.2rem; }
  .caracteristicas ul {
    margin-bottom: 1rem;
    padding-left: 0; }
  .caracteristicas li {
    font-size: 1rem !important; } }

/*---------------------------------------------------------Login y Registro------------------------------------------------------------------------*/
.main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  font-family: "Nunito", sans-serif; }

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative; }

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #9c0588 !important; }
  body.dark .caja__trasera {
    background: #222222 !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16) !important; }

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms; }
  body.dark .caja__trasera div {
    color: #b325a0; }

.caja__trasera div p,
.caja__trasera button {
  margin-top: 30px; }
  body.dark .caja__trasera div p, body.dark
  .caja__trasera button {
    color: #eec6e9 !important; }

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px; }

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300; }

.caja__trasera button {
  display: inline-block;
  padding: 1rem 2rem;
  font-family: 'Nunito';
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #c95fbb 0%, #e08dd5 100%);
  border-radius: .8rem;
  border: 2px solid #fff;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms; }

.caja__trasera button:hover {
  background-image: linear-gradient(to right, #e08dd5 0%, #c95fbb 100%);
  color: #b325a0 !important; }

/*Formularios*/
.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.contenedor__login-register form {
  width: 100%;
  padding: 60px 20px;
  background: white;
  position: absolute;
  border-radius: 20px; }
  body.dark .contenedor__login-register form {
    background: #222222 !important;
    box-shadow: 20px 10px 10px 20px rgba(0, 0, 0, 0.16) !important; }

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #b325a0; }

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none; }
  body.dark .contenedor__login-register form input {
    background: #eec6e9 !important; }

.contenedor__login-register form button {
  padding: 1rem 2rem;
  font-family: 'Nunito';
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #c95fbb 0%, #e08dd5 100%);
  border-radius: .8rem;
  cursor: pointer;
  color: white;
  margin-top: 1rem;
  outline: none; }

.formulario__login {
  opacity: 1;
  display: block; }

.formulario__register {
  display: none; }

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px; }
  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto; }
  .caja__trasera div {
    margin: 0px;
    position: absolute; }
  /*Formularios*/
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto; }
  .contenedor__login-register form {
    position: relative; } }

/*------------Error 404-------------------*/
.error404 {
  background: radial-gradient(circle, #e08dd5 20%, #c95fbb 80%);
  font-family: "Nunito", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-404 {
  text-align: center;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  line-height: 1.7; }

.container-404 h1 {
  font-size: 2.5rem;
  color: #e08dd5; }

.boton {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  background: #e08dd5;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px; }

.boton:hover {
  color: #fff;
  opacity: .8; }

.sm__icon {
  color: inherit;
  text-align: center;
  padding: 20px;
  background-color: #e275d4;
  border-radius: 50%;
  display: inline-block; }

/* main,footer{
    display: none;
} */
