@charset "UTF-8";
/* VARIABLES-:root*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&display=swap");
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";
.cols-5 {
  width: 5%; }

.cols-10 {
  width: 10%; }

.cols-15 {
  width: 15%; }

.cols-20 {
  width: 20%; }

.cols-25 {
  width: 25%; }

.cols-30 {
  width: 30%; }

.cols-35 {
  width: 35%; }

.cols-40 {
  width: 40%; }

.cols-45 {
  width: 45%; }

.cols-50 {
  width: 50%; }

.cols-55 {
  width: 55%; }

.cols-60 {
  width: 60%; }

.cols-65 {
  width: 65%; }

.cols-70 {
  width: 70%; }

.cols-75 {
  width: 75%; }

.cols-80 {
  width: 80%; }

.cols-85 {
  width: 85%; }

.cols-90 {
  width: 90%; }

.cols-95 {
  width: 95%; }

.cols-100 {
  width: 100%; }

.cols-105 {
  width: 105%; }

.cols-110 {
  width: 110%; }

.cols-115 {
  width: 115%; }

.cols-120 {
  width: 120%; }

.cols-125 {
  width: 125%; }

.cols-130 {
  width: 130%; }

.cols-135 {
  width: 135%; }

.cols-140 {
  width: 140%; }

.cols-145 {
  width: 145%; }

.cols-150 {
  width: 150%; }

.for__text--p {
  color: #b325a0; }

.for2 {
  display: flex;
  flex-wrap: wrap; }

.color_grid {
  width: 100px;
  height: 100px; }

.color_grid:nth-child(1) {
  background-color: #b7039f; }

.color_grid:nth-child(2) {
  background-color: #d004b4; }

.color_grid:nth-child(3) {
  background-color: #e904ca; }

.color_grid:nth-child(4) {
  background-color: #fa0dda; }

.color_grid:nth-child(5) {
  background-color: #fb26de; }

.color_grid:nth-child(6) {
  background-color: #fb3fe2; }

.color_grid:nth-child(7) {
  background-color: #fc58e6; }

.color_grid:nth-child(8) {
  background-color: #fc71e9; }

.color_grid:nth-child(9) {
  background-color: #fd8aed; }

.color_grid:nth-child(10) {
  background-color: #fda3f1; }

.color_grid:nth-child(11) {
  background-color: #febcf5; }

.color_grid:nth-child(12) {
  background-color: #fed5f9; }

.color_grid:nth-child(13) {
  background-color: #ffeefc; }

.color_grid:nth-child(14) {
  background-color: white; }

@media screen and (min-width: 640px) {
  .cols-m-5 {
    width: 5%; }
  .cols-m-10 {
    width: 10%; }
  .cols-m-15 {
    width: 15%; }
  .cols-m-20 {
    width: 20%; }
  .cols-m-25 {
    width: 25%; }
  .cols-m-30 {
    width: 30%; }
  .cols-m-35 {
    width: 35%; }
  .cols-m-40 {
    width: 40%; }
  .cols-m-45 {
    width: 45%; }
  .cols-m-50 {
    width: 50%; }
  .cols-m-55 {
    width: 55%; }
  .cols-m-60 {
    width: 60%; }
  .cols-m-65 {
    width: 65%; }
  .cols-m-70 {
    width: 70%; }
  .cols-m-75 {
    width: 75%; }
  .cols-m-80 {
    width: 80%; }
  .cols-m-85 {
    width: 85%; }
  .cols-m-90 {
    width: 90%; }
  .cols-m-95 {
    width: 95%; }
  .cols-m-100 {
    width: 100%; }
  .cols-m-105 {
    width: 105%; }
  .cols-m-110 {
    width: 110%; }
  .cols-m-115 {
    width: 115%; }
  .cols-m-120 {
    width: 120%; }
  .cols-m-125 {
    width: 125%; }
  .cols-m-130 {
    width: 130%; }
  .cols-m-135 {
    width: 135%; }
  .cols-m-140 {
    width: 140%; }
  .cols-m-145 {
    width: 145%; }
  .cols-m-150 {
    width: 150%; } }

@media screen and (min-width: 1024px) {
  .cols-l-5 {
    width: 5%; }
  .cols-l-10 {
    width: 10%; }
  .cols-l-15 {
    width: 15%; }
  .cols-l-20 {
    width: 20%; }
  .cols-l-25 {
    width: 25%; }
  .cols-l-30 {
    width: 30%; }
  .cols-l-35 {
    width: 35%; }
  .cols-l-40 {
    width: 40%; }
  .cols-l-45 {
    width: 45%; }
  .cols-l-50 {
    width: 50%; }
  .cols-l-55 {
    width: 55%; }
  .cols-l-60 {
    width: 60%; }
  .cols-l-65 {
    width: 65%; }
  .cols-l-70 {
    width: 70%; }
  .cols-l-75 {
    width: 75%; }
  .cols-l-80 {
    width: 80%; }
  .cols-l-85 {
    width: 85%; }
  .cols-l-90 {
    width: 90%; }
  .cols-l-95 {
    width: 95%; }
  .cols-l-100 {
    width: 100%; }
  .cols-l-105 {
    width: 105%; }
  .cols-l-110 {
    width: 110%; }
  .cols-l-115 {
    width: 115%; }
  .cols-l-120 {
    width: 120%; }
  .cols-l-125 {
    width: 125%; }
  .cols-l-130 {
    width: 130%; }
  .cols-l-135 {
    width: 135%; }
  .cols-l-140 {
    width: 140%; }
  .cols-l-145 {
    width: 145%; }
  .cols-l-150 {
    width: 150%; } }

/* VARIABLES-:root*/
button {
  display: inline;
  margin: 0 .5em;
  padding: .47em 1.5em;
  border-radius: .2em;
  font-weight: 800;
  border: 1px solid #eec6e9;
  background: #eec6e9; }
  button a {
    color: #b325a0; }
  button:hover {
    background: #eca2e3;
    border: 1px solid #eca2e3; }
    button:hover a {
      color: #b325a0; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none; }

html {
  font-size: 16px;
  font-family: "Nunito", sans-serif; }

body {
  /* position: relative; */
  min-height: 100vh;
  /* background: rgb(226, 117, 212); */
  background: radial-gradient(circle, #e08dd5 20%, #c95fbb 80%);
  padding: 30px; }

h1 {
  font-size: 3.5rem;
  color: #eec6e9; }

h2 {
  font-size: 1.7rem; }

h3 {
  font-size: 1rem; }

p, a, li {
  font-size: 1.3rem; }

/*----------------------------------------INDEX---------------------------------------------------------*/
#nav {
  z-index: 5; }

.nav-item:hover {
  border-radius: .2em;
  transform: scale(0.95);
  text-decoration: underline; }

@media screen and (max-width: 992px) {
  .header__logo {
    visibility: hidden;
    height: 1px; }
  .dropdown-menu {
    min-width: 15rem; }
  .nav-item {
    padding: 8px 0px;
    margin: 0px 16px 0px 0px; }
  .nav-item:hover {
    background: #eca2e3;
    border: 1px solid #eca2e3;
    color: #b325a0;
    border-radius: .2em;
    transform: scale(0.95); }
  .nav-link {
    margin-left: 0px 16px 0px 0px !important; } }

/*HEADER*/
header {
  background: #eec6e9;
  padding: 10px 0; }

/*------MAIN-HERO------*/
/* .hero{
    height: calc(100vh - 208px);
    background: url(../img/foto_principal.jpg) no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
}
.hero__txt{
    width: fit-content;
    height: 300px;
    position: absolute;
        top: 40%;
        left: 0;
        right: 0;
    margin: auto;
    text-align: center;
} */
.slide {
  margin-top: 10px; }

.slide img {
  height: calc(120vh - 208px); }
  @media screen and (max-width: 768px) {
    .slide img {
      width: 300px;
      height: 200px; } }

.slide__title {
  font-family: "Nunito", sans-serif !important;
  font-size: 3.5rem;
  font-weight: bold;
  color: #b325a0;
  text-transform: uppercase;
  margin-bottom: .5em; }

/* .cta{
    margin: 0 .5em;
    padding: .47em 1.5em;
    border-radius: .2em;
    font-weight: 800;
    background: $color-claro;
    border: 1px solid $color-claro;
    color: $color-oscuro;
}
.cta:hover{
    background: $color-claro-hover;
    border: 1px solid $color-claro-hover;
    color: $color-oscuro;
}
.cta--pri{
    background: $color-oscuro;
    border: 1px solid $color-oscuro;
    color: $color-claro;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.cta--pri:hover{
    background: $color-oscuro-hover;
    border: 1px solid $color-oscuro-hover;
    color: $color-claro;
} */
/*------MAIN-GALERIA------*/
.imagenes {
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow: 0px 0px 15px black;
  background-size: 100% 100%;
  animation-name: imagenes;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* animation: imagenes 10s infinite; */
  /*se resumen en una sola linea*/
  animation-direction: alternate; }
  @media screen and (max-width: 768px) {
    .imagenes {
      width: 300px;
      height: 175px; } }
  @media screen and (min-width: 769px) {
    .imagenes {
      width: 400px;
      height: 250px; } }

@media screen and (max-width: 768px) {
  .ejemplo {
    text-align: center;
    font-size: 1.5rem !important;
    color: #eec6e9;
    margin: 0.5em; } }

@keyframes imagenes {
  /*----paradas que va a tener la animación-----*/
  0%, 30% {
    background-image: url(../img/ramo2-min.jpg);
    opacity: 1; }
  31%, 34% {
    opacity: 0.1; }
  35%, 65% {
    background-image: url(../img/conejos-min.jpg);
    opacity: 1; }
  66%, 69% {
    opacity: 0.1; }
  70%, 100% {
    opacity: 1;
    background-image: url(../img/caja_bombon-min.jpg); } }

.galeria {
  padding: 3em; }

.galeria h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #eec6e9;
  margin: 0.5em; }

/* .imagenes{
    text-align: center;
    display: flex;
    justify-content: space-around;
} */
.picture {
  height: 13em; }

/*----------------------------------------PRODUCTS---------------------------------------------------*/
/*Galería-*/
.productos {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin-bottom: 50px !important; }

.products h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #eec6e9;
  margin: 0.5em; }

.contenedor_productos {
  height: 400px;
  width: 400px;
  margin-right: auto;
  padding-bottom: 150px;
  -webkit-perspective: 700; }

.carta {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px black;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
  margin-bottom: 25px; }

.carta:hover {
  transform: rotateY(180deg); }

.lado {
  width: 110%;
  height: 110%;
  backface-visibility: hidden;
  position: absolute; }

.frente {
  background: #eec6e9; }

.atras {
  background: #eec6e9;
  transform: rotateY(180deg); }

.frente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  list-style-type: none; }

.caracteristicas {
  text-align: center;
  padding-top: 50px; }

.tit {
  text-align: center;
  font-size: 1.5rem !important; }

/*-------- Universal styling for all cards-------- */
.cards_product {
  background: #b325a0;
  border-radius: 20px; }

.container {
  margin-top: 110px !important; }

.card {
  border: none;
  outline: none;
  background-color: #eec6e9;
  box-shadow: 0px 0px 1px black;
  border-radius: 20px;
  transition: transform .3s; }

.card:hover {
  transform: translateY(-15px);
  transition: transform .3s; }

.redondeado {
  border-radius: .5rem; }

.titulo_cards {
  text-align: left;
  font-size: 1.75rem;
  color: #eec6e9;
  margin: 0.5em; }

.text1 {
  font-size: 14px;
  color: #c95fbb; }

.info {
  line-height: 17px; }

.star {
  color: #fbc02d; }

/* card 1*/
.cost span {
  color: #b325a0;
  font-weight: bold;
  font-size: 20px; }

.ramos, .pack, .bombones, .figuras {
  background: #e08dd5; }

/* Universal styling again for all product card */
.ramos:hover, .pack:hover, .bombones:hover, .figuras:hover {
  opacity: .8; }

.cursor {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

/*----------------------------------------FECHAS ESPECIALES--------------------------------------------------*/
/*Galería con imágenes-GRIDS*/
.f_especiales {
  text-align: center; }

.f_especiales h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #eec6e9;
  margin: 0.5em; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  /*para dar el alto de las filas */
  padding: 0 0 15px 0;
  grid-gap: 10px;
  /*para dar el espaciado entre columnas*/ }
  @media screen and (min-width: 768px) {
    .gallery-container {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (min-width: 1024px) {
    .gallery-container {
      grid-template-columns: repeat(5, 1fr);
      width: 90%;
      margin: auto;
      /*para que esté centrado*/ } }

.gallery__item {
  position: relative; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*para que la imagen no se distorcione*/ }

.gallery__img:hover {
  border: 6px solid #eec6e9;
  cursor: pointer;
  background-color: #eec6e9; }

.gallery__title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  margin: 0; }

.gallery__item:nth-child(4) {
  grid-column-start: span 2; }

.gallery__item:nth-child(5) {
  grid-row-start: span 2; }

.gallery__item:nth-child(9) {
  grid-column-start: span 2; }

/*----------------------------------MEDIA QUERIES--------------------------------------------------*/
/*Tamaño de Tablet*/
@media (min-width: 768px) {
  .gallery__item:nth-child(3) {
    grid-column-start: span 2; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3; }
  .gallery__item:nth-child(9) {
    grid-column-start: span 3; }
  .gallery__title {
    font-size: 1rem; } }

@media (max-width: 768px) {
  .gallery__title {
    font-size: 0.9rem; } }

/*Tamaño de Web*/
@media (min-width: 1024px) {
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3; } }

/*----------------------------------------ABOUT US---------------------------------------------------------*/
.about {
  font-family: "Nunito", sans-serif !important; }
  .about h2 {
    color: #eec6e9;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold; }

nav {
  font-family: "Nunito", sans-serif !important; }

#nav {
  background-color: #eec6e9 !important; }

.nav-link {
  color: #b325a0 !important; }

#icono {
  color: black !important; }

.dropdown-item {
  background-color: #eec6e9; }

/*----------------------------------------CONTACT US---------------------------------------------------------*/
form {
  display: flex;
  justify-content: center; }

textarea, .nombre, .email {
  border: 3px solid #e275d4;
  width: 100%; }

.proceso {
  background: #f3a1e8;
  border: 3px solid black; }

form .fo {
  background: radial-gradient(circle, #e08dd5 20%, #c95fbb 80%);
  height: 90%;
  width: 90%;
  display: flex;
  flex-wrap: wrap; }

form label {
  margin: 10px; }

legend {
  color: #eec6e9;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold; }

/*------------------------------------------------------------------------------------------------------*/
/*FOOTER*/
footer {
  position: relative; }

.foot {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #eec6e9; }

footer .sm, .store, .contact {
  text-align: center; }

footer .sm__icon {
  color: inherit;
  text-align: center;
  padding: 20px;
  background-color: #e275d4;
  border-radius: 50%;
  display: inline-block; }

footer .sm__link {
  list-style: none;
  margin: 0 5px; }

footer .store a {
  font-size: 0.9rem;
  text-decoration: underline; }

footer .contact a {
  font-size: 0.9rem;
  text-decoration: underline; }

/* main,footer{
    display: none;
} */
/*------------------------------------------------------------------------------------------------------*/
/* .tabla ul{
    list-style-type: disc;
}
table, th, td{
    border: 1 px solid black;
}
article{
    color: #603cb3;
}
table,th,td{
    border: 2px solid olive;
} */
