/* VARIABLES-:root*/
$color-claro: rgb(238, 198, 233);
$color-oscuro: rgb(179, 37, 160);
$color-negro:  #2b2b2b;
$color-claro-hover: rgb(236, 162, 227);
$color-oscuro-hover: rgb(158, 3, 137);

$negro:#111111;
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;

$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);
