@import 'color';
@import 'typography';
@import 'ciclos';
@import 'mixins';
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";
/* RESET */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    color:inherit;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
html{
    font-size: 16px;
    font-family: $fuente-principal;
    scroll-behavior: smooth;
}
body{
    /* position: relative; */
    min-height: 100vh;
    background: radial-gradient(circle,rgb(224, 141, 213)20%,rgb(201, 95, 187) 80%);
    padding: 30px;
    transition: .3s ease all;

    &.dark{
        background: $negro;
    }
}
h1{
    text-align: center;
    font-size: 2.5rem;
    color: $color-claro;
    margin: 0.5em;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1rem;
}
p, a, li{
    font-size: 1.3rem;
}
/*-------------------------Switch modo oscuro del index--------------------------*/
.switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active {
        background: $color-oscuro;
        color: #000;
        &::after {
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;

        display: block;
        background: none;
        color: #fff;
    }
}
.fa-sun, .fa-moon {
    color: $color-claro;
}
/*----------------------------------------------------------------------------INDEX--------------------------------------------------------------------------*/

#nav{
    z-index: 5;
    background: {
        color: $color-claro !important;
    }
    body.dark & {
        background: $grisOscuro !important;
        box-shadow: $sombraLight !important;
    }
}
.nav-link{
    color: $color-oscuro  !important;
}
#icono{
    color: black !important;
}
.dropdown-item{
    color: $color-oscuro !important;
    background: {
        color: $color-claro;
    }
    body.dark & {
        color: $color-oscuro;
        background: $grisOscuro !important;
        box-shadow: $sombraLight !important;
    }
}
.dropdown-divider{
    body.dark & {
        background: $grisOscuro !important;
        box-shadow: $sombraLight !important;
    }
}
.nav-item:hover{
    border-radius: .2em;
    transform: scale(0.95);
    text-decoration: underline;
}
.modo_nocturno{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__nav--navbar{
    position: sticky;
    top: 0;
}
.header__nav--button{
    body.dark & {
        background: $color-oscuro;
    }
}
.user,.shop{
    body.dark & {
        color: $color-oscuro !important;
    }
}

/*------HEADER-------*/
header{
    background: $color-claro;
    padding: 10px 0;
    body.dark & {
        background: $grisOscuro;
        box-shadow: $sombraLight;
    }
}

/*------MAIN-HERO------*/

.slide{
    margin-top: 10px;
}
.slide img{
    height: calc(120vh - 208px);
    @media screen and (max-width: 768px){
        width: 200px;
        height: 200px;
    }
}
.slide__title{
    font-family: $fuente-principal !important;
    font-size: 3.5rem;
    font-weight: bold;
    color: $color-oscuro;
    text-transform: uppercase;
    margin-bottom: .5em;
}


/*------MAIN-PRODUCTOS MÁS VENDIDOS------*/


.blog-post{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: $color-claro;
    /* box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2); */
    display: flex;
    align-items: center;
    border-radius: .8rem;
    body.dark & {
        background: $grisOscuro;
    }
}
.blog-post__img{
    min-width: 30rem;
    max-width: 15rem;
    height: 20rem;
    transform: translateX(-8rem);
    position: relative;
}
.blog-post__img img {
    width: 100%;
    height: 85% !important;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}
.blog-post__img::before{
    content: '';
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(201, 95, 187, .8),
                                          rgba(224, 141, 213, .2));
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}
.blog-post__info{
    margin: -6rem;
}

.blog-post__text{
    margin-bottom: 3rem;
    font-size: 1rem;
    color: rgba(0,0,0,.7);
    body.dark & {
        color: $blanco;
    }
}
.blog-post__cta{
    display: inline-block;
    padding: 1rem 2rem;
    font-family: $fuente-principal;
    font-size: 1.2rem;
    color: #fff;

    background-image: linear-gradient(to right, rgb(201, 95, 187) 0%, rgb(224, 141, 213) 100%);
    border-radius: .8rem;
    text-decoration: none;
}
.blog-post__title{
    font-size: 2rem;
    color: $color-oscuro;
}
.blog-post__cta:hover{
    background-image: linear-gradient(to right, rgb(224, 141, 213)  0%,rgb(201, 95, 187)100%);
    text-decoration: none !important;
    color: $color-oscuro !important;
}

/*-------------------Main-Banner animado-------------*/
.imagenes{
    width: 100%;
    box-shadow: 0px 0px 15px black;
    background-size: 100% 100%;
    margin-left: 20px;
    
    animation-name: imagenes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* animation: imagenes 10s infinite; *//*se resumen en una sola linea*/
    animation-direction: alternate;

}

@keyframes imagenes{ /*----paradas que va a tener la animación-----*/
    0%, 30%{
        background-image: url(../img/ramo2-min.jpg);
        opacity: 1;
    }
    31%, 34%{
        opacity: 0.1;
    }
    35%, 65%{
        background-image: url(../img/conejos-min.jpg);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.1;
    }
    70%, 100%{
        opacity: 1;
        background-image: url(../img/foto_principal-min.jpg);
    }
}

/*-------------------------------------------------------------------------------PRODUCTS----------------------------------------------------------------------*/

/*Galería-*/
.productos{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 50px !important;
}
.products h1{
    text-align: center;
    font-size: 2.5rem;
    color: $color-claro;
    margin: 0.5em;
}
.contenedor_productos{
    height: 400px;
    width: 400px;
    margin-right: auto;
    padding-bottom: 150px;
    -webkit-perspective: 700;
}
.carta{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px black;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
    margin-bottom: 25px;
}
.carta:hover{
    transform: rotateY(180deg);
}
.lado{
    width: 110%;
    height: 110%;
    backface-visibility: hidden;
    position: absolute;
}
.frente{
    background: $color-claro;
}
.atras{
    background: $color-claro;
    transform: rotateY(180deg);
}
.frente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    list-style-type: none;
}
.caracteristicas{
    text-align: center;
    padding-top: 50px;
}
.tit{
    text-align: center;
    font-size: 1.5rem !important;
    color: $color-claro;
}

/*-------- Universal styling for all cards-------- */
.cards_product{
    background: $color-oscuro;
    border-radius: 20px;
    body.dark & {
        background: $grisOscuro;
        box-shadow: $sombraLight;
    }
}
.container{
    margin-top: 110px !important;
}
.card{
    border:none;
    outline: none;
    background-color: $color-claro;
    box-shadow: 0px 0px 1px black;
    border-radius: 20px;
    transition: transform .3s;
    body.dark & {
        background: $negro;
        box-shadow: $sombraLight;
    }
}
.card:hover{
    transform: translateY(-15px);
    transition: transform .3s;
}
.card h5,.titulo_cards,.cost span,.card-title{
    body.dark & {
        color: $color-oscuro;
    }
}
.info span{
    body.dark & {
        color: $color-claro;
    }
}
.card-body{
    body.dark & {
        color: $color-claro;
    }
}
.card-text{
    font-size: 1rem;
}
.redondeado{
    border-radius: .5rem;
}
.titulo_cards{
    text-align: left;
    font-size: 1.75rem;
    color: $color-claro;
    margin: 0.5em;
}
.text1{
    font-size: 14px;
    color: #c95fbb;
}
.info{
    line-height: 17px;
}
.star{
    color: #fbc02d;
}
/* card 1*/
.cost span{
    color: $color-oscuro;
    font-weight: bold;
    font-size: 20px;
}
.ramos, .pack, .bombones, .figuras{
    background: #e08dd5;
}

/* Universal styling again for all product card */
.ramos:hover, .pack:hover, .bombones:hover, .figuras:hover{
    opacity: .8;
}
.cursor{
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*---------------------------------------------------------------------FECHAS ESPECIALES------------------------------------------------------------------------*/

/*Galería con imágenes-GRIDS*/
.f_especiales{
    text-align: center;
}
.f_especiales h1{
    text-align: center;
    font-size: 2.5rem;
    color: $color-claro;
    margin: 0.5em;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;/*para dar el alto de las filas */
    padding: 0 0 15px 0;
    grid-gap: 10px; /*para dar el espaciado entre columnas*/
    @media screen and (min-width: 768px){
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (min-width:1024px){
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        margin: auto;/*para que esté centrado*/
    }
}
.gallery__item{
    position: relative;
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*para que la imagen no se distorcione*/
}
.gallery__img:hover{
    border: 6px solid $color-claro;
    cursor: pointer;
    background-color: $color-claro;
}
.gallery__title{
    position: absolute;
    bottom: 0;
    color: $color-claro;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    margin: 0;
}
.gallery__item:nth-child(4){
    grid-column-start: span 2;
}
.gallery__item:nth-child(5){
    grid-row-start: span 2;
}
.gallery__item:nth-child(9){
    grid-column-start: span 2;
}



/*-----------------------------------------------------------------ABOUT US---------------------------------------------------------*/

.container1{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}
.box{
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border: 3px solid #fff;
}
.about__text{
    width: 600px;
    height: 400px;
    position: relative;
    margin: 20px;
    body.dark & {
        color: $color-oscuro;
    }
}
.box img{
    width: 100%;
    height: 100%;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 162, 227,0.5);
    display: flex;
    justify-content: center !important;
    align-items: center;
    color: $color-oscuro;
    transform: scale(0);
    transition: .3s ease;
}
.box:hover .capa{
    transform: scale(1);
}

.about {
    font: {
        family: $fuente-principal !important;
    }
    h2 {
        color: $color-claro;

        text: {
            align: center;
        }
        font: {
            size: 2.5rem;
            family: $fuente-principal;
            weight: bold; 
        }
    }
}
nav {
    font: {
        family: $fuente-principal !important;
    }
}


/*---------------------------------------------------------------------------CONTACT US-------------------------------------------------------------------*/
form{
    display: flex;
    justify-content: center;
}
.form-group{

}
textarea,.nombre,.email{
    border: 3px solid rgb(226, 117, 212);
    width: 100%;
    &:focus{
        outline: 0;
        border-color: $color-oscuro;
        background-color: $color-claro;
    }
}
.proceso{
    background: rgb(243, 161, 232);
    border: 3px solid black;
}

form .fo{
    background: $color-oscuro;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: .8rem;
    body.dark & {
        background: $grisOscuro;
        box-shadow: $sombraLight;
    }
}
form label{
    margin: 10px;
}
legend {
    color: #eec6e9;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}
.form-date,.form-group{
    body.dark & {
        color: $color-claro;
    }
}
#age{
    body.dark & {
        color: $negro;
    }
}
p .iconify{
    body.dark & {
        color: $color-oscuro;
    }
}


/*------------------------------------------------------------------------------------------------------*/
/*FOOTER*/
footer{
    position: relative;
}
.foot{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color:$color-claro ;
    body.dark & {
        background: $grisOscuro !important;
        box-shadow: $sombraLight !important;
    }
}
footer .sm ,.store,.contact{
    text-align: center;
    body.dark & {
        color: $color-claro !important;
    }
}
#icono{
    body.dark & {
        color: $color-claro !important;
    }
}
footer .sm__icon{
    color: inherit;
    text-align: center;
    padding: 20px;
    background-color: rgb(226, 117, 212);
    border-radius: 50%;
    display: inline-block;
    body.dark & {
        color: $color-claro !important;
        background-color: $color-oscuro;
    }
}
footer .sm__link{
    list-style: none;
    margin: 0 5px;
    padding: 0;
}

footer .store a{
    font-size: 0.9rem;
    text-decoration: underline;
}
footer .contact a{
    font-size: 0.9rem;
    text-decoration: underline;
}
/* copyright */

p.text-muted{
    text-align: center;
    font-size: 0.8rem;
    color: $negro !important;
    body.dark & {
        color: $color-claro !important;
    }
}

/* main,footer{
    display: none;
} */
/*------------Error 404-------------------*/
.error404{
    background: radial-gradient(circle,rgb(224, 141, 213)20%,rgb(201, 95, 187) 80%);
    font-family: $fuente-principal;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-404{
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    line-height: 1.7;
}
.container-404 h1{
    font-size: 2.5rem;
    color: #e08dd5;
}
.boton{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background: #e08dd5;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.boton:hover{
    color: #fff;
    opacity: .8;
}
.sm__icon{
    color: inherit;
    text-align: center;
    padding: 20px;
    background-color: rgb(226, 117, 212);
    border-radius: 50%;
    display: inline-block;
}

/*---------------------------------------------------------------------------media query---------------------------------------------------------------------------*/
@media screen and (max-width: 992px) {
    .header__logo{
        max-width: 50px;
        height: auto;
    }
    /* .img-responsive{
        width: 250px;
        margin-left: 330px;
    } */
    .dropdown-menu {
        min-width: 15rem;
    }
    .nav-item {
        padding: 8px 0px;
        margin: 0px 16px 0px 0px;
    }
    .nav-item:hover{
        background: $color-claro-hover;
        border: 1px solid $color-claro-hover;
        color: $color-oscuro;
        border-radius: .2em;
        transform: scale(0.95);
    }
    .nav-link {
        margin-left: 0px 16px 0px 0px !important;
    }
}
/* @media screen and (max-width: 768px) {
    .img-responsive{
        width: 150px;
        margin-left: 65px;
    }
} */
@media screen and (max-width: 1068px) {
    .img-responsive{
        width: 250px;
        margin-left: 330px;
    }
    .blog-post{
        max-width: 80rem;
    }
    .blog-post__img{
        min-width: 30rem;
        max-width: 30rem;
    }
    .slide__title{
        font-size: 1.5rem;
    }
    .blog-post__cta{
        padding: 1rem 2rem;
        letter-spacing: .5px;
        font-size: 1rem;
    }
    .about__text--p1 {
        /* background-color: red; */
        margin-top: 70px;
    }
    .about__text--p2,.about__text--p3{
        visibility: hidden !important;
    }
    .box {
        width: 30rem;
        height: 20rem;
    }
}
@media screen and (max-width: 868px) {
    .img-responsive{
        width: 250px;
        margin-left: 250px;
    }
    .blog-post{
        max-width: 70rem;
    }
    .slide__title{
        font-size: 1.2rem;
    }
    .blog-post__title{
        font-size: 1.4rem;
    }
    .blog-post__text{
        font-size: 1rem;
    }
    .blog-post__info{
        margin: -6rem;
    }
    .blog-post__img{
        min-width: 20rem;
        max-width: 15rem;
        height: 20rem;
    }
    .blog-post__cta{
        padding: 1rem 2rem;
        letter-spacing: .5px;
        font-size: 1rem;
    }
    .container1{
        flex-direction: column;
    }
    /* .about__text--p1 {
        background-color: green;
    } */

    .about__text--p2 .about__text--p3{
        visibility: hidden;
    }
    
}
@media screen and (max-width: 768px) {
    .img-responsive{
        width: 200px;
        margin-left: 16px;
    }
    .blog-post{
        padding: 1.2rem;
        flex-direction: column;
    }
    .blog-post__img{
        min-width: 79%;
        max-width: 100%;
        margin-top: 61px;
        margin-bottom: -150px;
        padding-top: 50px;
        transform: translate(0, -8rem);
    }
    .slide__title{
        font-size: 1rem;
    }
    .blog-post__title{
        font-size: 1.4rem;
    }
    .blog-post__cta{
        padding: .8rem 1rem;
        letter-spacing: .5px;
        font-size: 1rem;
        color: #fff;
    }
    .blog-post__info{
        margin: 35px -1rem;
    }
    .body{
        padding: 0;
    }
    .imagenes{
        margin-top: 20px;
        margin-left: -40px !important;
        height: 28vh !important;
        width: 120% !important;
    }
    .box {
        width: 350px;
    }
    .box img {
        width: 100% !important;
        height: 140% !important;
    }
    .about__text{
        /* overflow: auto; */
        margin-left: 115px;
        width: 500px !important;
        height: 400px !important;
    }
    .about__text--p1{
        width: 80%;
        overflow: auto;
        margin-left: 1rem;
        /* background-color: lightskyblue; */
    }
    .about__text--p2{
        visibility: hidden;
    }
    .about__text--p3{
        visibility: hidden;
        font-size: 0.8rem;
    }
    
}
/*----------------------------------MEDIA QUERIES--------------------------------------------------*/
/*Tamaño de Tablet*/
@media (min-width:768px){
    .gallery__item:nth-child(3){
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(4){
        grid-column-start: span 3;
    }
    .gallery__item:nth-child(5){
        grid-row-start: span 3;
    }
    .gallery__item:nth-child(9){
        grid-column-start: span 3;
    }
    .gallery__title{
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .gallery__title{
        font-size: 0.9rem;
    }
    
/*----------------------------------------------------------------------------------------------*/
}
/*Tamaño de Web*/
@media (min-width:1024px){
    .gallery__item:nth-child(1){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(4){
        grid-column-start: span 3;
        grid-row-start: span 3;
    }
}

/*---------------------------------------------------------Login y Registro------------------------------------------------------------------------*/
/* 
body{
    background-image: url(../images/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} */

.main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    font-family: $fuente-principal;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgb(156, 5, 136) !important;
    body.dark & {
        background: $grisOscuro !important;
        box-shadow: $sombraLight !important;
    }
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
    body.dark & {
        color: $color-oscuro;
    }
}

.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
    body.dark & {
        color: $color-claro !important;
    }
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    display: inline-block;
    padding: 1rem 2rem;
    font-family: 'Nunito';
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #c95fbb 0%, #e08dd5 100%);
    border-radius: .8rem;
    border: 2px solid #fff;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background-image: linear-gradient(to right, rgb(224, 141, 213)  0%,rgb(201, 95, 187)100%);
    color: $color-oscuro !important;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    body.dark & {
        background: $grisOscuro !important;
        box-shadow: 20px 10px 10px 20px rgba(0,0,0,.16) !important;
    }
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: $color-oscuro;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
    body.dark & {
        background: $color-claro !important;
    }
}

.contenedor__login-register form button{
    padding: 1rem 2rem;
    font-family: 'Nunito';
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #c95fbb 0%, #e08dd5 100%);
    border-radius: .8rem;

    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}